.span12
  .hero-unit
    %h1
      Twitterdiction Help
    %br
    %p
      Twitterdiction Help is a bot that reminds you when you have been tweeting for too long.
    %p
      To start, just press the button below and the bot will start sending you reminders!
    %p
      %a.btn.btn-primary.btn-large{href: user_omniauth_authorize_path(:twitter)}
        Help Me!