%footer.footer
  = render_list :class => "nav nav-pills pull-right" do |li|
    - li << link_to( "About", "/pages/about")
  Made by @<a href="https://twitter.com/shiroin">shiroin</a> with the idea from @<a href="https://twitter.com/yomimaid">yomimaid</a>